<!-- Charity -->
<div class="row box" ng-controller="campaignController">
    <div class="col-md-12 center-container">
        <div class="ch-title">
            Campaign {{campaign.id + 1}}
        </div>

        <hr class="style17">

        <div class="ch-goal">
            Goal : {{campaign.goal}} <img src="img/ethereum.png" width="20px" height="30px" alt="Ethereum Logo">
        </div>

        <div class="ch-goal">
            Current funding : {{campaign.amount}} <img src="img/ethereum.png" width="20px" height="30px" alt="Ethereum Logo">
        </div>

        <div class="ch-goal">
            Funds address : <div class="ch-address">{{campaign.address}}</div>
        </div>

        <div class="ch-goal">
            Duration in days: {{campaign.deadline}}
        </div>

        <button type="button" class="btn btn-lg btn-success" ng-click="contribute()">Contribute</button>


        </div>
    </div>
</div>
<!-- End Charity -->
