<!-- Charity -->
<div class="row box" ng-controller="campaignController">
    <div class="col-md-12 center-container">
        <div class="ch-title">
            {{campaign.title}}
        </div>

        <hr class="style17">

        <div class="ch-goal">
            Goal : {{campaign.goal}} ∄
        </div>

        <div class="ch-goal">
            Duration in days: {{campaign.deadline}}
        </div>

        <button type="button" class="btn btn-lg btn-success">Contribute</button>


        </div>
    </div>
</div>
<!-- End Charity -->
