.btn[disabled] {
    pointer-events: auto;
}

.center-content {
    text-align: center;
}

/* SIDEBAR */

.sidebar-wrapper {
    left: 0px;
    width: 100px;
    position: fixed;
    height: 100%;
    background-color: #FFF;
    color: #e75753;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

.header {
    background-color: #757575;
    color: #FFF;
}

.box {
    background-color: #FFF;
    color: #e75753;
    width: 550px;
    height: 310px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0px 1px 3px 0px #757575;
    padding: 10px;
}

.ch-title {
    font-size: 24px;
    text-align: center;
}

.ch-goal {
    font-size: 30px;
    color: #757575;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

hr.style17 {
    border-top: 1px solid #8c8b8b;
    text-align: center;
}

hr.style17:after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #FFF;
    color: #8c8b8b;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}
