<!-- Sidebar -->
<div class="sidebar-wrapper">
    <div class="sidebar-title pointer" ng-click="changeView('home')">GLC</div>

    <div class="sidebar-item margin-top-100" ng-click="changeView('create')">
        <div class="pointer">Create
            <br>
        <i class="fa fa-plus-circle" aria-hidden="true"></i></div>
    </div>

    <div class="sidebar-item" ng-click="changeView('view')">
        <div class="pointer">View
        <br>
        <i class="fa fa-eye" aria-hidden="true"></i></div>
    </div>

</div>
<!-- End Sidebar -->
<header locationName={{ locationName }}></header>
