<!-- Sidebar -->
<div class="sidebar-wrapper">
    GLC
    <div class="sidebar-footer">
        <div class="col-xs-4">
            <a href="https://github.com/efikalti" target="_blank">
      Github
    </a>
        </div>
        <div class="col-xs-4">
            <a href="#" target="_blank">
      About
    </a>
        </div>
        <div class="col-xs-4">
            <a href="mailto:kaltirim@csd.auth.gr?Subject=Lambda%20Support">
      Support
    </a>
        </div>
    </div>
</div>
<!-- End Sidebar -->
<header locationName={{ locationName }}></header>
